<div class="container ">
  <div class="row">
    <!-- <div class="col-md-6 "> -->
      <div class="table">
        <thead>
          <tr>
            <th>S.no</th>
            <th>Visitor Email</th>
            <th>Query</th>
            <th>Status</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let query of queryData index as i">
            <td>{{i+1}}</td>
            <td>{{query.email}}</td>
            <td>{{query.query}}</td>
            <td>
              <p *ngIf="query.status=='pending'">Pending</p>
              <p *ngIf="query.status=='Resolved'">Resolved</p>
            </td>
            <td>
              <button *ngIf="query.status=='pending'" (click)="getId($event)" value="{{query._id}}" data-bs-toggle="modal"
                data-bs-target="#myModal" class="btn btn-dark">Response</button>
              <button *ngIf="query.status=='Resolved'" value="{{query._id}}"
                class="btn btn-light disabled">Closed</button>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Respond to user's query</h4>
        <button type="button" (click)="refresh()" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label for="" class="mb-2">Enter Query response text</label>
        <textarea [(ngModel)]="text" name="" id="" cols="10" rows="3" placeholder="Write your text here"
          class="form-control"></textarea>
        <button (click)="sendData()" class="btn btn-success mt-3">Send</button>

      </div>
    </div>
  </div>
</div>
<!-- code -->