<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">

                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Order Amount</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th>Status</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let order of orderData index as i">
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>