/*  */
* li{
    list-style: none; 
 }
 .right li {
    /* margin: 0 8px; */
    list-style: none;
}
.right li a{
    text-decoration: none;
    color: black;
    /* font-size: 14px; */
    padding-top: 25px;
    padding-right: 80px;
}
.nav-link{
    
    font-weight:normal;
    border-radius: 20px;
    
}

.logo{
    font: size 3.5em;
    color: var(--black);
  text-decoration: none;
    
}
.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
  }
  .headline{
      padding-left: 80px;
  }
  