<div class="container m-auto">
    <div class="row mt-5">
        <div class="col-md-3 m-auto divOne" *ngFor="let user of userStored">
            <img src="{{user.image}}" class="card-img-top photo" height="250px" width="110px" alt="">
            <div class="card-body">
                <h6 class="card-title">Name: {{user.name}}</h6>
                <h6 class="card-title">Email: {{user.email}}</h6>
                <h6 class="card-title">Mobile: {{user.mobile}}</h6>
                <button class="btn buttonView btn-dark">View User</button>
                <button class="btn buttonDelete btn-danger">Delete User</button>
            </div>
        </div>
    </div>
</div>